/* Your custom css code goes here */

.probootstrap-footer {
    padding: 3em 0 3em 0;
    background: #17f54d;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}


.signup-for-document{
    background-color: white;
    opacity: 0.95;
    padding: 1em;
    position: fixed;
    bottom: 0;
    right:1em;
    border-radius: 5px;
}

.signup-for-document form{
    margin-top: 1em;
    width: 250px;
}

.before-minimize{
    display:none;
}
.minimized:hover{
    cursor: pointer;
}

@media only screen and (min-width: 1200px){
    .signup-header{
        height: 15px;
        line-height: 15px;
    }
}

@media only screen and (min-width: 600px){
    .signup-header{
        height: 10px;
        line-height: 10px;
    }
}

@media only screen and (max-width: 600px){
    .signup-header{
        height: 10px;
        line-height: 10px;
    }
}



