/* Your custom css code goes here */

.probootstrap-footer {
    padding: 3em 0 3em 0;
    background: #48a3f5;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}


.signup-for-document{
    background-color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    right:1em;
    border-radius: 5px;
    z-index: 10;
}

.signup-for-document form{
    margin-top: 1em;
    width: 250px;
}

.before-minimize{
    display:none;
}
.minimized:hover{
    cursor: pointer;
}

@media only screen and (min-width: 1200px){
    .signup-header{
        height: 15px;
        line-height: 15px;
    }
}

@media only screen and (min-width: 600px){
    .signup-header{
        height: 10px;
        line-height: 10px;
    }
}

@media only screen and (max-width: 600px){
    .signup-header{
        height: 10px;
        line-height: 10px;
    }
}


/* OVERVIEW IMAGE */
.owl-carousel-carousel .item{
    position: relative;
}
.owl-carousel-carousel .item:hover .img-caption{
    cursor: pointer;
    visibility: visible;
}
.img-caption{
    background-color: black;
    opacity: 0.6;
    color:white;
    padding: 0.5em;
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}

.parter-logo{
    width: auto;
    height:auto;
}





