#footer{
    background-color: #343a40;
    color: white;
    padding: 1em;
}

#contact{
    margin: 1em 3%;
    width: 100%;
}
#creator{
    text-align: center;
    background-color:#343a40 ;
    margin: 1em auto;
}