.carousel-item{
    height: auto;
}

.carousel-item img{
    height: 600px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-item img{
        height: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carousel-item img{
        height: 350px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-item img{
        height: 450px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-item img{
        height: 550px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel-item img{
        height: 600px;
    }
}