<div class="row probootstrap-gutter60 mb50">
    <div class="col-md-12 probootstrap-relative">
        <h2 class="probootstrap-heading mt0 mb50">Một số hình ảnh</h2>
        <ul class="probootstrap-owl-navigation absolute right">
            <li><a href="#" class="probootstrap-owl-prev"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" class="probootstrap-owl-next"><i class="icon-chevron-right"></i></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 probootstrap-relative">
            <div class="owl-carousel owl-carousel-carousel">
                <div class="item">
                    <div class="probootstrap-program">
                        <a href="#"><img src="{{ asset('img/central-premium-thumb.jpg') }}" class="img-responsive img-rounded"></a>
                        <div class="img-caption">
                            <h3>Dumbbell Squat</h3>
                            <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <a href="#"><img src="{{ asset('img/decapella-thumb.jpg') }}" class="img-responsive img-rounded"></a>
                        <div class="img-caption">
                            <h3>Dumbbell Squat</h3>
                            <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <a href="#"><img src="{{ asset('img/khu-dan-cu-6b-thumb.jpg') }}" class="img-responsive img-rounded"></a>
                        <div class="img-caption">
                            <h3>Dumbbell Squat</h3>
                            <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                    </div>

                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <a href="#"><img src="{{ asset('img/tamnhin2.jpg') }}" class="img-responsive img-rounded"></a>
                        <div class="img-caption">
                            <h3>Dumbbell Squat</h3>
                            <p>Sets: 3, Reps: 8-10, Rest: 30 sec.</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

