{% extends 'base.html.twig' %}

{% block title %}
    Demo web BDS
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {{ include('homepage/intro.html.twig') }}
    <main>
        {{ include('homepage/overview.html.twig') }}

    </main>
{% endblock %}