<section class="probootstrap-intro" style="background-image: url({{ asset('img/central-premium.jpg') }});"
         data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">

            </div>
        </div>
    </div>
    <span class="probootstrap-animate"><a class="probootstrap-scroll-down js-next" href="#overview">Scroll down <i
                    class="icon-chevron-down"></i></a></span>
</section>
