<footer id="footer">
    <div>
        <div id="contact">
            <h5 class="display-5">Liên hệ</h5>
            <div>
                <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ contactData.getName() }}
            </div>
            <div>
                <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ contactData.getAddress() }}
            </div>
            <div>
                <i class="fas fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ contactData.getMail() }}
            </div>
            <div>
                <i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ contactData.getTelephone() }}
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div id="creator">
                <i class="far fa-copyright"></i> Created by <a
                        href="https://www.facebook.com/trunganhduong1995">Sebastian</a>
            </div>
        </div>
    </div>
</footer>
