<footer id="footer">
    <div>
        <div id="contact">
            <h5 class="display-5">Liên hệ</h5>
            <div>
                <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Đường Trung Anh
            </div>
            <div>
                <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tòa nhà Handico, Nam Từ Liêm, Hà Nội
            </div>
            <div>
                <i class="fas fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;trung.anh.duong.1995@gmail.com
            </div>
            <div>
                <i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;0977.849.974
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div id="creator">
                <i class="far fa-copyright"></i> Created by <a
                        href="https://www.facebook.com/trunganhduong1995">Sebastian</a>
            </div>
        </div>
    </div>
</footer>
