<footer id="footer">
    <div id="contact" class="container-fluid">
        <div class="row">Mọi chi tiết xin liên hệ:</div>
        <div class="row">
            <div class="col-1"><i class="fas fa-user"></i></div>
            <div class="col">Đường Trung Anh</div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fas fa-map-marker-alt"></i></div>
            <div class="col">Tòa nhà Handico, Nam Từ Liêm, Hà Nội</div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fas fa-envelope"></i></div>
            <div class="col">trung.anh.duong.1995@gmail.com</div>
        </div>
        <div class="row">
            <div class="col-1"><i class="fas fa-phone"></i></div>
            <div class="col">0977.849.974</div>
        </div>
    </div>
    <div id="creator">
        <i class="far fa-copyright"></i> Created by <a href="https://www.facebook.com/trunganhduong1995">Sebastian</a>
    </div>
</footer>

<style>
    #footer{
        background-color: #343a40;
        color: white;
        padding: 1em;
    }

    #contact{
        margin: 1em 3%;
        width: 35%;
    }
    #creator{
        text-align: center;
        background-color:#343a40 ;
        margin: 1em auto;
    }
</style>