<div class="col">
    <i class="fas fa-map-marker-alt"></i> 118 Nguyễn Khánh Toàn
    Cầu Giấy, Hà Nội
</div>

<div class="col">
    <i class="far fa-clock"></i> Thời gian làm việc : 9:00 AM to 7:00 PM
    Hỗ trợ : 24/7
</div>

<div class="col">
    <i class="far fa-envelope-open"></i> 0902 068 068
    manhteatheme@gmail.com
</div>

