<div class="signup-for-document align-middle">
    <div class="signup-header minimized">
        <p class="control-label">Đăng ký nhận tài liệu</p>
    </div>

    <div class="before-minimize">
        <div class="signup-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="control-label">Đăng ký nhận tài liệu</h5>
        </div>
        <form>
            <div class="form-group">
                <label for="signup-text">Họ tên</label>
                <input type="text" class="form-control" id="signup-text" name="name" placeholder="Tên" required>
            </div>
            <div class="form-group">
                <label for="signup-email">Email</label>
                <input type="email" class="form-control" id="signup-email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="signup-email">Số điện thoại</label>
                <input type="tel" class="form-control" id="signup-phone" name="phone" placeholder="Điện thoại">
            </div>
            <div class="form-group">
                <label for="signup-msg">Lời nhắn</label>
                <input type="text" class="form-control" id="signup-msg" name="msg" placeholder="Lời nhắn">
            </div>
            <button type="submit" class="btn">Đăng ký</button>
        </form>
    </div>
</div>